@media only screen and (max-width: 600px){
    
}

.navButton{
    position: fixed;
    margin-left: 1%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding-left: none;
    padding-right: none;
}

.navButtonsDiv a:hover{
    color: #43faab;
}

#homeBtn{
    margin-top: 2%;
}

#aboutBtn{
    margin-left: 79%;
}

#workBtn{
    margin-left: 85%;
}

#contactBtn{
    margin-left: 90.8%;
}

body{
    overflow: hidden;
    background-color: #000000;
}

.social a{
    text-decoration: none;
}

.sideImg{
    position: fixed;
    height: 3.5%;
    width: auto;
    margin-top: 0.7%;
}

.icons{
    margin-top: 18%;
}

#twit{
    margin-top: 3%;
}

#gh{
    margin-top: 5.35%;
}

#ig{
    margin-top: 7.7%;
}

.textHP{
    margin-top: 16%;
    position: absolute;
    margin-left: 20%;
    color: #ffffff;
}

.imgHP{
    margin-top: 11%;
    position: absolute;
    margin-left: 60%;
}

.vertical1{
    margin-top: 14%;
    margin-left: 6%;
    border-left: solid #ffffff;
    height: 43%;
    position: absolute;
    left: 49.5%;
}

.changeLanguage{
    position: fixed;
    margin-top: 22%;
}

.changeLanguage:hover{
    cursor: pointer;
}

.nlImg{
    margin-bottom: 10%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    height: 30px;
    width: 50px;
}

.nlImg:hover{
    background-color: #43faab;
    border: 2px solid #43faab;
}

.engImg{
    margin-bottom: 10%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    height: 30px;
    width: 50px;
}

.engImg:hover{
    background-color: #43faab;
    border: 2px solid #43faab;
}

.geImg{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    height: 30px;
    width: 50px;
}

.geImg:hover{
    background-color: #43faab;
    border: 2px solid #43faab;
}

#txt1{
    font-size: 80px;
    letter-spacing: 10px;
}

#txt2{
    padding-left: 5px;
    letter-spacing: 5px;
    font-size: 80px;
}

#imgHP{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    width: 300px;
    height: 400px;
}

.txt1{
    position: absolute;
    margin-top: 200px;
    font-size: 25px;
    color: #ffffff;
    margin-left: 370px;
}

section{
    height: 100vh;
    width: 100vw;
}

.txt2{
    position: absolute;
    margin-top: 240px;
    width: 600px;
    font-size: 15px;
    color: #cccccc;
    margin-left: 250px;
}

.imageSB{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    position: absolute;
    margin-top: 150px;
    margin-left: 900px;
    width: 320px;
}

#sec1{
    margin-top: -284px;
}

.proj1{
    position: absolute;
    margin-top: 5%;
    margin-left: 17%;
    width: 990;
}

.proj1txt{
    color: #cccccc;
    font-size: 30px;
    margin-top: -11.5%;
    margin-left: 250px;
    padding-right: 250px;
}

.horizontal1{
    margin-top: 16%;
    margin-left: 26.65%;
    border-bottom: solid #ffffff;
    width: 700px;
    position: absolute;
}

.proj2{
    position: absolute;
    margin-top: 17%;
    margin-left: 1010px;
}

.proj2txt{
    color: #cccccc;
    font-size: 30px;
    margin-top: -29.5%;
    margin-left: -156%;
    padding-right: 100%;
}

.horizontal2{
    margin-top: 28%;
    margin-left: 26.65%;
    border-bottom: solid #ffffff;
    width: 700px;
    position: absolute;
}

.proj3{
    position: absolute;
    margin-top: 28.8%;
    margin-left: 17%;
    width: 990px;
}

.proj3txt{
    color: #cccccc;
    font-size: 30px;
    margin-top: -13.5%;
    margin-left: 25%;
}

.horizontal3{
    margin-top: 39.6%;
    margin-left: 26.65%;
    border-bottom: solid #ffffff;
    width: 700px;
    position: absolute;
}

.gitHubb{
    position: absolute;
    color: #cccccc;
    margin-top: 41%;
    margin-left: 35%;
    font-size: 20px;
}